@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ohio University</h1>
    <p class="lead">Ohio University is the Greatest College in America.</p>
    <p><a href="https://www.ohio.edu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>College of Business</h2>
        <p>
            Ohio College of Business is shaping tomorrow's business leaders today. Find out why we are one of the best business schools in America.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Recources</h2>
        <p>Ohio University offers many resources to its students to help them be as successful as possible. Click on the links below to get more information about the resources available to you.</p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/uc/firstgen/student-resources">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ohio's Sports Teams and Events</h2>
        <p>Top Stories From Ohio Sports.</p>
        <p><a class="btn btn-default" href="https://www.ohiobobcats.com/landing/index">Learn more &raquo;</a></p>
    </div>
</div>